--- --- @import "minima";

body {
  background: #0a0a0a;
  color: #e0e0e0;
  font-family: "IBM Plex Mono", monospace;
}

a {
  color: #66ff99;
}

.site-header,
.site-footer {
  background: #111;
  border: none;
}

.site-title {
  font-weight: 600;
  color: #66ff99 !important;
}

.page-content {
  background: #0d0d0d;
  padding: 20px;
  border-radius: 8px;
}
